<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% if @post.image.attached? %>
  <%= image_tag(@post.image.variant(resize_to_limit: [500, 500])) if @post.image.variable? %>
  <%= image_tag(@post.image) unless @post.image.variable? %>
<% else %>
  <p>No image attached</p>
  <%= link_to "Upload Image", upload_image_post_path(@post), class: "button" %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <%= comment.content %> |
    <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'btn btn-primary' %>
  </p>
<% end %>

<h3>Add a Comment</h3>
<%= form_with(model: [@post, Comment.new], local: true) do |form| %>
  <p><%= form.text_area :content %></p>
  <%= form.submit 'Submit' %>
<% end %>

<%= link_to 'Back to Posts', posts_path %>
