<h1>Upload Image for <%= @post.title %></h1>

<%= form_with model: @post, url: save_image_post_path(@post), local: true, multipart: true do |form| %>
  <p>
    <%= form.label :image, "Select Image" %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit "Upload" %>
  </p>
<% end %>

<p><%= link_to "Back", post_path(@post) %></p>
